@CHARSET "ISO-8859-1";
@import "normalize.css";
@import "responsive.css";

html, body { height: 100%; margin: 0; background-color: purple;}

.navbar { border: 1px dashed #fff; background-color: whitesmoke;}
.navbar .m-auto li { margin-left: 12px; }

.navbar-light .navbar-nav .nav-link:hover, 
.navbar-light .navbar-nav .nav-link:focus { 
      color: #000; background-color: green; border-radius: 0.25rem;
   }


.border { border: 1px dashed #fff !important; }


/* admin page */
.admin img{ width: 160px; height: 160px; border-radius: 100%;  }
.adminHome{ border: 1px dashed #fff; padding: 5px; margin: 5px; }

.admin .firstView section { text-align: center; background-color: cyan; border-radius: 20px 0 20px 0;  margin: 5px; padding: 2px; }

.admin .firstView .menu-section .image-thumbnail { 
   ackground-color: darkslategrey; text-align: center;  padding: -150px; 
}
.admin .menu-section { order: 1px solid blue; }


.vl { border-left: 2px solid #fff; height: auto; }
.btn-info:not(:disabled):not(.disabled):active, .btn-info:not(:disabled):not(.disabled).active, .show > .btn-info.dropdown-toggle {
    background-color: #181a1b;
}

.btn-group-sm>.btn, .btn-sm {
    padding: .5rem .5rem;

}

.home img{ border-radius: 100%; border: 1px solid #fff; }

.space{ padding-bottom: 1.5rem!important;
  padding-top: 1.5rem !important;
}


.hide{ display: none; }

.table pre { margin: 0rem !important; }


/*card design*/
.card{ margin-top: 15px; }
.card-header{ padding: 0.2rem 1.25rem; color: #fff; text-align: center;}
.info{ background-color: #17a2b8; }
.success{ background-color: #28a745; }

pre {
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #dfe6e9; 
    border: 1px solid #ccc;
    border-radius: 4px;
}

/*Datatable*/
table.dataTable tbody tr { background-color: transparent; ext-align: center;}

.dataTables_wrapper
.dataTables_length,
.dataTables_filter,
.dataTables_info,
.dataTables_paginate { background-color: cyan; border-radius: 2px; }

.dataTables_wrapper .dataTables_filter,
.dataTables_wrapper .dataTables_paginate{ float: none; }

/*Top*/
.dataTables_wrapper .dataTables_length label,
.dataTables_wrapper .dataTables_filter label{ padding: 0.175rem 0.5rem; margin-bottom: 0rem; }
.dataTables_wrapper .dataTables_filter { margin-bottom: 0.20rem; }

/*Buttom*/
.dataTables_wrapper .dataTables_info { padding: 0.5rem; }
.dataTables_wrapper .dataTables_paginate { padding: 0.25em; }
.dataTables_wrapper .dataTables_paginate, .dataTables_wrapper .dataTables_info { margin-top: 0.20rem; }
.dataTables_wrapper .dataTables_paginate .paginate_button { min-width: 1.5em; padding: 0.2em 0.6em; margin-left: 2px; }

.table td { vertical-align: middle; }

.table td, .table th { border: 0.5px solid #dee2e6 !important; }
.table.dataTable { border-collapse: collapse;}

table.dataTable thead th,
table.dataTable thead td { 
   padding: 0px 18px; 
   background-color: #17c0eb;
}
.table tbody{ background-color: #00cec9; }

.table tbody > tr >td:nth-child(1),
.table tbody > tr >td:nth-child(2){ text-align: center; }

.nav { background: #bdc3c7; }
.d-flex .card { margin-top: 5px !important; }
.nav-link.active { background-color: #81ecec !important; color: #000 !important; }
