@CHARSET "ISO-8859-1";
@import "normalize.css";
@import "responsive.css";

html, body { height: 100%; margin: 0; background-color: purple;}

.table pre { margin: 0rem !important; }


pre {
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #dfe6e9; 
    border: 1px solid #ccc;
    border-radius: 4px;
}

/*Datatable*/
table.dataTable tbody tr { background-color: transparent; }

.dataTables_wrapper
.dataTables_length,
.dataTables_filter,
.dataTables_info,
.dataTables_paginate { background-color: cyan; }

.dataTables_wrapper .dataTables_filter,
.dataTables_wrapper .dataTables_paginate{ float: none; }

/*Top*/
.dataTables_wrapper .dataTables_length label,
.dataTables_wrapper .dataTables_filter label{ padding: 0.175rem 0.5rem; margin-bottom: 0rem; }
.dataTables_wrapper .dataTables_filter { margin-bottom: 0.20rem; }

/*Buttom*/
.dataTables_wrapper .dataTables_info { padding: 0.5rem; }
.dataTables_wrapper .dataTables_paginate { padding: 0.25em; }
.dataTables_wrapper .dataTables_paginate, .dataTables_wrapper .dataTables_info { margin-top: 0.20rem; }
.dataTables_wrapper .dataTables_paginate .paginate_button { min-width: 1.5em; padding: 0.2em 0.6em; margin-left: 2px; }

.table td { vertical-align: middle; }

.table td, .table th { border: 0.5px solid #dee2e6 !important; }
.table.dataTable { border-collapse: collapse;}

table.dataTable thead th,
table.dataTable thead td { 
   padding: 0px 18px; 
   background-color: #17c0eb;
}
.table tbody{ background-color: #00cec9; }

.table tbody > tr >td:nth-child(1),
.table tbody > tr >td:nth-child(2){ text-align: center; }

fieldset {
   border: 1px dashed skyblue !important;
   border-radius: 0.50rem;
   padding: 0 1em 1em 1em !important;
   margin: 0 0 1.5em 0 !important;
   -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 2px 0px #000;
}

legend { 
    width:inherit;
    font-size: 1em !important;
    font-weight: bold !important;
    text-align: center; !important;
    border: 1px solid pink; 
    background-color: whitesmoke;
    border-radius: 12px;   
    padding: 0px 10px;
    /*margin-bottom:10px;*/
}

/*card design*/
.card{ margin-top: 15px; border: unset;}
.card-header{ 
   padding: 0.2rem 1.25rem; 
   color: #fff; 
   text-align: center; 
   border-radius: unset !important;
}
.card-body { padding: 0.2rem 0rem 0rem; background-color: purple; }
.info{ background-color: #17a2b8; }
.success{ background-color: #28a745; }
.d-flex .card { margin-top: 5px !important; }

/*tab-content design*/

.btn { border-radius: unset; } /*leftside button*/

.nav-tabs .nav-link{ margin-right: 5px; }
.nav-tabs { border-bottom: unset; }
.nav-tabs .nav-link:hover { padding: .4rem 0.9rem; background-color: transparent !important; border: 1px solid #fff;}
.nav-link { color: #fff !important; }
.nav-tabs .nav-link,
.nav-tabs .nav-link.active{ border-color: unset; border: unset; border-radius: unset; }